[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Netbeans
Comment=IDE for Java, HTML5, PHP, Groovy, C and C++
Exec=/home/constantin/bin/netbeans.sh
Icon=netbeans
Terminal=false
StartupNotify=false
Categories=Application;Development;
