[hooks]
pretxncommit.eol = python:hgext.eol.hook
pretxnchangegroup.eol = python:hgext.eol.hook

[eol]
native = LF
only-consistent = False

[patterns]
**.py = native
**.java = native
**.xml = native
**.properties = native
