[extensions]
bookmarks =
blackbox = !
children =
churn =
color =
convert =
eol =
extdiff =
graphlog =
hgk =
highlight =
histedit =
inotify = !
interhg =
largefiles =
patchbomb =
mq =
pager =
progress =
purge =
rebase =
record =
relink =
schemes =
shelve =
transplant =

git   = !~/.mercurial/hgext/hg-git/hggit
svn   = !~/.mercurial/hgext/hg-subversion/hgsubversion
