[extensions]
bookmarks =
blackbox = !
churn =
color =
convert =
eol =
extdiff =
hgk =
highlight =
histedit =
interhg =
largefiles =
patchbomb =
mq =
pager =
progress =
purge =
rebase =
relink =
schemes =
shelve =
